
@font-face {
    font-family: 'iranSansWeb';
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IRANSansWeb.woff2') format('woff2'),
    url('../fonts/IRANSansWeb.woff') format('woff'),
    url('../fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iranSansWebBold';
    src: url('../fonts/IRANSansWeb_Bold.eot');
    src: url('../fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IRANSansWeb_Bold.woff2') format('woff2'),
    url('../fonts/IRANSansWeb_Bold.woff') format('woff'),
    url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'iranSansWebLight';
    src: url('../fonts/IRANSansWeb_Light.eot');
    src: url('../fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),
    url('../fonts/IRANSansWeb_Light.woff') format('woff'),
    url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
@font-family: 'iranSansWeb';
    direction: rtl;
    text-align: rtl;
}

div, span, ul, li, ol, table, tbody, thead, p, footer, header, article {
    font-family: iranSansWeb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: iranSansWebBold;
}
.content-area {
    margin-left: 0;
    margin-right:260px;
}
.side-nav {
    left: auto;
    right:0px;
}
.settings-container .left-side .info {
    float: right;
}